#0eventRate/*
1energyDensity/*
2strainPlots/*
3snr/*
4sampleM/*
5sampleZ/*
6hourglass/*
2strainPlotsLISA/*
2strainPlotsValeriya/*
0eventRate/plots/*
0eventRate/data/*
0eventRate/binder
0eventRate/__pycache__
0eventRate/LISA*
0eventRate/Phenom*
0eventRate/Wave*
